<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hackme app! Admin</title>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<main role="main" class="container" sec:authorize="isAuthenticated()">

    <h1>Hello `<span sec:authentication="name"></span>`.</h1>

    <div th:replace="navbar :: navbar"></div>

    <div sec:authorize="hasAuthority('ADMIN')">
        Authorized personnel only:
        <p>
            Wenn ist das Nunstück git und Slotermeyer? Ja! Beiherhund das Oder die Flipperwaldt gersput!
        </p>
    </div>

</main>
</body>
</html>