<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hackme app! Index</title>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script src="/scripts.js"></script>
</head>

<body>
<main role="main" class="container" sec:authorize="isAuthenticated()">

    <h1>Hello `<span sec:authentication="name"></span>`.</h1>

    <div th:replace="navbar :: navbar"></div>

    <div class="row">
        <input placeholder="Search by name" type="text" name="search" id="search"/>
        <input type="submit" value="Search" onclick="searchByName($('#search').val())"/>
        <div id="userSearchResults">
        </div>
    </div>

</main>

</body>
</html>